/*.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

svg {
    border: solid 1px #aaa;
}*/


/*CSS for barchart*/

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.dragrect {
    fill: lightsteelblue;
}

.dragrect:hover {
    fill: mediumseagreen;
}